* {
    background: #6275de;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8c9dff, #628dde);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bdd6fc, #3c338d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}