@import url("node_modules/@fortawesome/fontawesome-free/css/fontawesome.css");
.reset-block{
background-color: #ddd;
float:left;
width:100%;

}

.btn-reset {background: #7562de; color:#fff; font-weight:600;}
